<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="我參加了香蕉人笑容蒐集計畫!">
    <meta name="keywords" content="香蕉人,笑容蒐集計畫,香蕉相機,三博鹿科技">

    <meta property="og:title" content="我參加了香蕉人笑容蒐集計畫!"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{imgurl}}" />
    <meta property="og:url" content="http://{{host}}/download_photo?imgurl={{imgurl}}" />
    <meta property="og:description" content="用100種方法，蒐集1,000,000個笑容～" />
    <meta property="og:site_name" content="香蕉人笑容蒐集計畫" />

    <title>我參加了香蕉人笑容蒐集計畫!</title>
    
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <img src="{{imgurl}}" />
  </body>
</html>