{% extends "Base.html" %}
{% block body %}

<style type="text/css">
  .product_title{
    font-size: 18pt;
    border-bottom: 2px solid #fff100;
    padding-bottom: 12px;
    padding-top: 10px;
  }
  .product_content{
    font-size: 13pt;
    line-height: 18pt;
    padding-top: 10px;
  }
  table{
    border-collapse: separate;
    border-spacing: 5px 30px;
    margin-left: 35px;
  }
  .product_thumb_frame{
    width: 317px;
    overflow: hidden;
  }
  
  .product_info{
    margin-left: 10px;
    margin-right: 40px;
    border: none;
    min-width: 360px;
    max-width: 750px;
  }
  .product_images{
    margin-top: 25px;
  }
  .product_images img{
    margin-right: 25px;
  }
</style>

{% include "segment/TabJS.html" %}

<div id="body">
  <!--
  <div id="tabs" style="margin-left: 50px; display: none">
    <div id="tab1" class="tab ordinary_focus focus">虛擬商品</div>
    <div id="tab2" class="tab" style="border-right: 2px solid #fff100">實體商品</div>
    <div class="clear"></div>
  </div>
  -->
  <div id="innerpage_content_block" style="margin-left: 50px; margin-right: 50px; margin-top: -2px; border: 2px solid #fff100; margin-bottom: 40px; padding-bottom: 40px">
    
    <table id="tab1_content" width="100%" class="tab_content">
      {% for item in products %}
      <tr>
        <td width="317" valign="top">
          <div class="product_thumb_frame">
            <img src="{{item.image_urls[0]}}" width="317" />
          </div>
        </td>
        <td valign="middle">
          <div class="product_info">
            <div class="product_title">
              {{item.name}}
              {% if item.where_to_buy %}
                <a target="_blank" href="{{item.where_to_buy}}">
                  <img border="0" src="/media/img/buy_btn.jpg" />
                </a>
              {% endif %}
            </div>
            <div class="product_content">
              {% autoescape false %}{{item.description|url_to_hyperlink}}{% endautoescape %}
            </div>
            <div class="product_images">
              {% for img_url in item.image_urls[1:] %}
                <img src="{{img_url}}" width="60" />
              {% endfor %}
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>

    <!--
    <table id="tab2_content" width="100%" class="tab_content" style="margin-top: 25px; display: none; border-collapse: separate; border-spacing: 0px 0px">
      <tr>
        <td>
          <div name="life" class="media_icon_focus"><div class="text single_line">生活</div></div>
          <div name="cloth" class="media_icon"><div class="text single_line">服飾</div></div>
          <div name="accessory" class="media_icon"><div class="text single_line">配件</div></div>
          <div name="stationery" class="media_icon"><div class="text single_line">文具</div></div>
          <div name="kitchen" class="media_icon"><div class="text single_line">餐廚</div></div>
          <div name="decoration" class="media_icon"><div class="text single_line">家飾</div></div>
          <div name="3c" class="media_icon"><div class="text single_line" style="left: 16px">3C</div></div>
          <div name="toy" class="media_icon"><div class="text single_line">玩具</div></div>
          <div name="food" class="media_icon" style="margin-bottom: 15px"><div class="text single_line">食品</div></div>
        </td>
      </tr>
      <tr>
        <td>

          <div class="product_list">
            {% for item in physical_product %}
              <div style="float: left; width: 428px; height: 428px; margin-bottom: 35px">
                <div style="width: 390px; height: 390px; overflow: hidden; line-height: 390px; text-align: center">
                  <img style="border: 2px solid black; vertical-align: middle" src="{{item.image_urls[0]}}=s390" />
                </div>
                <div class="product_title" style="text-align: center; border: none">{{item.name}}</div>
                <div class="product_content" style="text-align: center; padding-top: 0px">出沒地 | {{item.where_to_buy}}</div>
              </div>
            {% endfor %}
          </div>

          {% for cate in category_list %}
            {% if cate == 'life' %}
            <div class="product_list {{cate}}">
            {% else %}
            <div class="product_list {{cate}}" style="display: none">
            {% endif %}

            {% if product_data[cate]|length > 0 %}
              {% for item in product_data[cate] %}
                <div style="float: left; width: 428px; height: 428px; margin-bottom: 35px">
                  <div style="width: 390px; height: 390px; overflow: hidden; line-height: 390px; text-align: center">
                    <img style="border: 2px solid black; vertical-align: middle" src="{{item.image_urls[0]}}=s390" />
                  </div>
                  <div class="product_title" style="text-align: center; border: none">{{item.name}}</div>
                  <div class="product_content" style="text-align: center; padding-top: 0px">出沒地 | {{item.where_to_buy}}</div>
                </div>
              {% endfor %}
            {% else %}
              <img src="/media/img/no_product_in_category.png" />
            {% endif %}
            </div>
          {% endfor %}
        </td>
      </tr>
    </table>
    -->

    <script type="text/javascript">
      $(document).on('click', '#tab2_content .media_icon', function(){
        $("#tab2_content").find('.media_icon_focus').removeClass('media_icon_focus').addClass('media_icon');
        $(this).addClass('media_icon_focus').removeClass('media_icon');
        var name = $(this).attr('name');
        $('.product_list').hide();
        $('.product_list.'+name).show();
      });
    </script>

  </div>
</div>

{% endblock %}